@{
  Layout = "_Layout";
}

@model SweetAndSavoryFactory.Models.Flavor

<h4>Add a new Flavor</h4>

@* <p>@Html.ValidationMessageFor(model => model.Treat.TreatId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p> *@
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  @Html.LabelFor(model => model.FlavorDetails)
  @Html.TextBoxFor(model => model.FlavorDetails)

  <input type="submit" value="Add new Flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Flavors", "Index")</p>
