@{
  Layout = "_Layout";
}

@using SweetAndSavoryFactory.Models
@model SweetAndSavoryFactory.Models.Flavor
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>  
@* <h3>@Html.DisplayNameFor(model => model.FlavorId): @Html.DisplayFor(model => model.Description)</h3> *@

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Flavor does not have any treats yet!</p>
}
else
{
  <h4>This Flavor has the following treats:</h4>
  <ul>
    @foreach(FlavorTreat join in Model.JoinEntities)
    {
      <li>Flavor: @join.Treat.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add Treat", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>